.App {
  min-height: 100vh;
  text-align: left;
}
.search-form {
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-bar {
  width: 50%;
  border: none;
  padding: 10px;
}
.search-button {
  background: grey;
  border: 5px;
  padding: 10px 20px;
  color: black;
}
.recipes {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.flexContainer {
  display: flex;
  align-items: flex-end;
}
nav {
  display: flex;
  justify-content: space-around;
  text-align: Center;
  min-height: 10vh;
  background: #333333;
  color: #999999;
}
.nav-links {
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  color: grey;
}
